{
    "plugins": [
        [
            "import",
            [
                {
                    "libraryName": "antd",
                    "style": true
                },
                {
                    "libraryName": "ant-design-pro",
                    "libraryDirectory": "lib",
                    "style": true,
                    "camel2DashComponentName": false
                },
                {
                    "libraryName":"lodash"
                }
            ]
        ]
    ]
}